html {
  font-size: 62.5%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

body {
  display: flex;
  flex-direction: column;
  height: 100vh; }

.header {
  background-color: #eee;
  border-bottom: 1.5px solid #000;
  flex: 0 1 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem; }
  .header__nav {
    display: flex;
    justify-content: space-between;
    flex: 0 0 30rem;
    margin-right: 5rem;
    align-items: center; }

.sidebar {
  background-color: #eee;
  flex: 0 0 12.5%;
  border-right: 2px solid;
  display: flex;
  flex-direction: column; }
  .sidebar__song-list {
    display: flex;
    flex-direction: column;
    margin-bottom: auto; }
  .sidebar__current {
    display: flex;
    background-color: #ddd;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid;
    margin-bottom: .5rem; }
    .sidebar__current-image {
      width: 80%;
      margin-top: 2rem;
      margin-bottom: .5rem; }
    .sidebar__current-info {
      text-align: center;
      font-size: 1.75rem;
      margin-bottom: .2rem; }

.main {
  background-color: #565656;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }

.container {
  display: flex;
  flex-direction: row;
  flex: 1; }

.link,
.link:visited,
.link:link {
  text-decoration: none;
  color: #000; }

.link--active {
  font-size: 1.6rem;
  font-weight: 400; }

.title {
  margin-left: 4.5rem;
  font-size: 2.75rem;
  font-family: 'Acme'; }

.albums-item {
  flex: 1;
  background-color: #fff;
  padding: 1.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  border-bottom: 1px solid; }

.album {
  position: relative; }
  .album__image {
    border-radius: 3px;
    overflow: hidden;
    width: 15rem;
    height: 15rem; }
  .album__name {
    margin-bottom: .5rem; }
  .album__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: green;
    font-weight: 600;
    font-size: 1.3rem; }

.albums {
  display: flex;
  justify-content: space-between;
  width: 80%; }

.album-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 2.5rem; }
  .album-info__image {
    width: 25%;
    border-radius: 5px;
    overflow: hidden; }
  .album-info__name {
    font-weight: 300;
    font-size: 3rem; }
  .album-info__artist {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1rem;
    margin-bottom: 1rem; }
  .album-info__description {
    width: 85%;
    font-size: 1.5rem;
    text-align: center; }
