.link,
.link:visited,
.link:link{
    text-decoration: none;
    color:#000;
    font-size: 1.4rem;
    box-shadow: 0 .5rem .4rem rgba(0,0,0,.03);
    transition: all .3s;

    &:hover{
        transform: translateY(-.25rem);
        box-shadow: 0 1.2rem 1rem rgba(0,0,0,.1);
    }
}

.link--active{
    font-size: 1.8rem !important;
    font-weight: 400;
    color: $secondary !important;
}